.GamePage-link-margin {
  margin-bottom: 10px;
}

.GamePage {
  display: flex;
  flex-direction: column;
}

.GamePage-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-left: 20px;
}

.button {
  background: rgb(244,244,244);
  background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(211,211,211,1) 100%);
}

.button:hover {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
}