.Settings {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 50px;
}

.Settings-level-row {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}

.Settings-level-row button {
  width: 86px;
  margin: 10px;
}

.Settings-level-colors {
  display: flex;
  flex-flow: row nowrap;
}

.Settings-color {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  opacity: 0.85;
}

.Settings-level-btn {
  background: rgb(244,244,244);
  background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(211,211,211,1) 100%);
}

.Settings-level-btn:hover {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
}

.Settings-cancel {
  background: rgb(244,244,244);
  background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(211,211,211,1) 100%);
  width: 85px;
  font-size: 14px;
}

.Settings-cancel:hover {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
}